.containerSquare
{
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 25px;
  border: 5px solid rgba(255, 255, 255, 0.6);
  animation-name: squareAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.contactLine
{
  
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255,0.6), rgba(255, 0, 0, 0.8), rgba(255, 255, 255, 0.6));
}

.fontSquares
{
  color: rgba(255, 255, 255, 0.80);
}

.form-control
{
    background-color: rgba(255, 255, 255, 0.70);
    color: rgb(0, 0, 0);
    height: 2.75rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.contactTextarea
{
    height: 325px;
}

.submitBtn
{
    width: 6rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: black 2px solid;
    color: black;
}

.submitBtn:hover
{
    background-color: rgb(0, 30, 60);
    color: white;
    border-color: rgba(255, 0, 0, 0.75);
}
